# Don't include build outputs
__pycache__/
*.pyc
*.pyo
*.spec
dist/
build/
releases/
*.log
specs/

ffmpeg/ 
ffmpeg/bin/ffmpeg.exe
ffmpeg/bin/ffplay.exe
ffmpeg/bin/ffprobe.exe
vlc_bundle/s
vlc_bundle/plugins/


# User config files
recording_config.txt
camera_config.txt
version.txt
.venv/
.vscode/

logs/
REC/
video-validation.code-workspace
config.json